@model LeGia.Models.PostViewModel

@{
    ViewData["Title"] = "Cty TNHH xây dựng và thang máy Thuận Phong - " + @Model.Name;
}
<div class="lg__content">
    <div class="lg__breadcrumb">
        <ul class="list__menu reset lg__breadcrumb__list">
            <li class="list__item__inline lg__breadcrumb__list__item">
                <a href="/" class="lg__breadcrumb__list__item__link">Trang Chủ</a>
            </li>
            <li class="list__item__inline lg__breadcrumb__list__item">
                <a href="/gioi-thieu" class="lg__breadcrumb__list__item__link ">Giới Thiệu</a>
            </li>
            <li class="list__item__inline lg__breadcrumb__list__item">
                 @{ var pl = "/bai-gioi-thieu/" + Model.Alias; }
                 <a href="@pl" class="lg__breadcrumb__list__item__link ">@Model.Name</a>
            </li>
        </ul>
    </div>
    <div class="lg__content__box ui segment">
        <div class="lg__content__box__header">
            <h1 class="lg__content__box__header__title">@Model.Name</h1>
        </div>
        @Html.Raw(Model.Content)
    </div>
    @await Component.InvokeAsync("Customer")
</div>