@model LeGia.Models.PostViewModel
@{
    ViewData["Title"] = "Cty TNHH vận tải Lê Gia - " + @Model.Name;
}

<div class="lg__content">
                <div class="lg__breadcrumb">
                    <ul class="list__menu reset lg__breadcrumb__list">
                        <li class="list__item__inline lg__breadcrumb__list__item">
                            <a href="/" class="lg__breadcrumb__list__item__link">Trang Chủ</a>
                        </li>
                        @{ var cl = "/danh-sach/" + ViewBag.BackLink.Alias;}
                        <li class="list__item__inline lg__breadcrumb__list__item">
                            <a href="@cl" class="lg__breadcrumb__list__item__link ">@ViewBag.BackLink.Name</a>
                        </li>
                        <li class="list__item__inline lg__breadcrumb__list__item">
                            @{ var pl = "/bai-viet/" + Model.Alias; }
                            <a href="@pl" class="lg__breadcrumb__list__item__link ">@Model.Name</a>
                        </li>
                    </ul>
                </div>
                <div class="lg__content__box ui segment">
                    <div class="row">
                        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 main__article__content__title__border__right">
                            <div class="lg__content__box__article__heading">
                                <h1 class="main__article__content__title main__article__content__title__large">@Model.Name</h1>
                                <button class="ui facebook button lg__button__social">
                                    <i class="facebook icon"></i> Facebook
                                </button>
                                <button class="ui twitter button lg__button__social">
                                    <i class="twitter icon"></i> Twitter
                                </button>
                                <button class="ui google plus button lg__button__social">
                                    <i class="google plus icon"></i> Google Plus
                                </button>
                            </div>
                            <div class="lg__content__box__content lg__content__box__article__content">
                                @Html.Raw(Model.Content)
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 lg__remove__padding">
                            @await Component.InvokeAsync("TopNews")
                        </div>
                    </div>
                </div>
            </div>