@model IEnumerable<LeGia.Models.PostViewModel>
@{
    ViewData["Title"] = "danh sach";
}

<div class="lg__content">
                <div class="lg__breadcrumb">
                    <ul class="list__menu reset lg__breadcrumb__list">
                        <li class="list__item__inline lg__breadcrumb__list__item">
                            <a href="/" class="lg__breadcrumb__list__item__link">Trang Chủ</a>
                        </li>
                        @{ var cl = "/danh-sach/" + ViewBag.BackLink.Alias;}
                        <li class="list__item__inline lg__breadcrumb__list__item">
                            <a href="@cl" class="lg__breadcrumb__list__item__link ">@ViewBag.BackLink.Name</a>
                        </li>
                    </ul>
                </div>
                <div class="lg__content__box ui segment">
                    <div class="lg__content__box__header">
                        <h1 class="lg__content__box__header__title">Tin tức</h1>
                    </div>
                    <div class="lg__content__box__content">
                        <div class="row">
                            @foreach(var p in Model)
                            {
                                var plink = "/bai-viet/" + @p.Alias;
                                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 box__main__article">
                                    <div class="main__article">
                                        <a href="@plink">
                                            <div class="main__article__box__img">
                                                <img src="@p.Image" alt="@p.Name" class="main__article__img">
                                            </div>
                                            <div class="main__article__content">
                                                <h1 class="main__article__content__title">@p.Name</h1>
                                                <p>@p.ShortContent</p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            }
                        </div>
                        <div class="lg__pagination">
                            <div class="ui buttons">
                                <button class="ui button lg__pagination__item lg__pagination__item__active">1</button>
                                <button class="ui button lg__pagination__item">2</button>
                                <button class="ui button lg__pagination__item">3</button>
                                <button class="ui button lg__pagination__item">...</button>
                                <button class="ui button lg__pagination__item">6</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>