@model IEnumerable<LeGia.Areas.Admin.Models.ImageViewModel>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h3>Danh sách hình ảnh</h3>

<table id="list_table" class="display" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>Tên</th>
            <th>Dự án</th>
            <th>Slide</th>
            <th>Khách hàng</th>
            <th>Action</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th>Tên</th>
            <th>Dự án</th>
            <th>Slide</th>
            <th>Khách hàng</th>
            <th>Action</th>
        </tr>
    </tfoot>
    <tbody>
        @foreach (var m in Model)
        {
            <tr>
                <td>@m.Name</td>
                <td>@m.IsProject</td>
                <td>@m.IsSlide</td>
                <td>@m.IsLogo</td>
                <td style="text-align: right">
                    <a class="btn btn-primary fa fa-pencil" href="/admin/image/update/@m.Id"></a>
                    <a class="btn btn-danger fa fa-trash-o" onclick="del(@m.Id)"></a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts{
    <script type="text/javascript">
    $(document).ready(function() {
        $('#')
    });

    function del(id){
        var c = confirm("Bạn có chắc là không muốn hiển chủ đề này ?");
            if(c){
                $.ajax({
                    url: "/admin/image/delete/" + id,
                    type: "DELETE",
                    dataType: 'json',
                    success: function(mess){
                        window.location.reload();
                    },
                    error: function(error){
                        alert(error);
                    }
                })
            }
        };
    </script>
}