@model LeGia.Models.FooterViewModel

<footer>
    <!--<h3 class="footer__brandname__h3">
        @Model.Company.Name
    </h3>-->
    <h3 class="footer__brandname__h3">@Model.Company.Name</h3>
    <p class="footer__address">
        <i class="fa fa-map-marker" aria-hidden="true"></i> @Model.Company.Address
    </p>
    <div class="row footer__header">
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 footer__col__box">
            <h2 class="footer__box__title">Liên hệ với chúng tôi</h2>
            <ul class="list__menu">
                <li class="list__footer__item">Số điện thoại: @Model.Company.PhoneNumber</li>
                <li class="list__footer__item">Email: @Model.Company.Email</li>
                <li class="list__footer__item">Website: thuanphongelevator.vn</li>
            </ul>
            <ul class="list__icon__social" id="footer__icon__social">
                <li class="list__item__inline ">
                    <a href="#" class="list__item__inline__link icon__link lg__facebook">
                        <i class="fa fa-facebook" aria-hidden="true"></i>
                    </a>
                </li>
                <li class="list__item__inline ">
                    <a href="#" class="list__item__inline__link icon__link lg__google">
                        <i class="fa fa-google" aria-hidden="true"></i>
                    </a>
                </li>
                <li class="list__item__inline ">
                    <a href="#" class="list__item__inline__link icon__link lg__twitter">
                        <i class="fa fa-twitter" aria-hidden="true"></i>
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 footer__col__box">
            <h2 class="footer__box__title">Các dịch vụ của chúng tôi</h2>
            <ul class="list__menu">
                @foreach(var s in Model.Service)
                {
                    var plink = "/bai-viet/" + @s.Alias;
                    <li class="list__footer__item">
                        <a href="@plink">@s.Name</a>
                    </li>
                }
            </ul>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 footer__col__box">
            <h2 class="footer__box__title">Giới thiệu về chúng tôi</h2>
            <p class="footer__box__title__about">
                Công ty chúng tôi có đội ngũ cán bộ, nhân viên giỏi chuyên môn nghiệp vụ, rất giàu kinh nghiệm trong quản lý, bảo trì, sữa chữa, tư vấn thiết kế thang máy, sẵn sàng tư vấn miễn phí cho khách hàng. Khi sử dụng dịch vụ của chúng tôi quý khách chỉ phải bỏ ra phí dịch vụ tiết
                kiệm nhất, nhưng sẽ nhận được chất lượng dịch vụ tốt nhất
            </p>
        </div>
        <div class="clearfix"></div>
        <div class="footer__copyright">
            <p>Bản quyền © 2019 thuộc về @Model.Company.Name</p>
        </div>
    </div>
</footer>